USE [ThietBiPhongChay]
GO
/****** Object:  UserDefinedFunction [dbo].[SS_fn_UserCoQuyen]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[SS_fn_UserCoQuyen]
(
    @UserId INT,
    @MaQuyen NVARCHAR(50)
)
RETURNS BIT
AS
BEGIN
    RETURN CASE WHEN EXISTS
    (
        SELECT 1
        FROM Tag_System.dbo.PQ_TaiKhoan_ChucNang AS pq
        JOIN Tag_System.dbo.PQ_DM_ChucNang AS cn
          ON cn.ID_ChucNang = pq.ID_ChucNang
        WHERE pq.ID_TaiKhoanDangNhap = @UserId
          AND cn.Ma_ChucNang = @MaQuyen
          AND pq.CapNhat = 1
          AND cn.TonTai = 1
    ) THEN 1 ELSE 0 END;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[SS_fn_UserRoleCode]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[SS_fn_UserRoleCode]
(
    @UserId INT
)
RETURNS NVARCHAR(30)
AS
BEGIN   
    DECLARE @Role NVARCHAR(30) = N'NhanVien';

    IF dbo.SS_fn_UserCoQuyen(@UserId, N'Admin') = 1
        SET @Role = N'Admin';
    ELSE IF dbo.SS_fn_UserCoQuyen(@UserId, N'GD') = 1
        SET @Role = N'GD';
    ELSE IF dbo.SS_fn_UserCoQuyen(@UserId, N'KTT') = 1
        SET @Role = N'KTT';
    ELSE IF dbo.SS_fn_UserCoQuyen(@UserId, N'TBP') = 1
        SET @Role = N'TBP';

    RETURN @Role;
END;
GO
/****** Object:  Table [dbo].[SS_BoPhanGroup]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_BoPhanGroup](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[MaGroup] [nvarchar](50) NOT NULL,
	[TenGroup] [nvarchar](200) NOT NULL,
	[TonTai] [bit] NOT NULL,
 CONSTRAINT [PK_SS_BoPhanGroup] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_SS_BoPhanGroup_MaGroup] UNIQUE NONCLUSTERED 
(
	[MaGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_BoPhanGroup_DonVi]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_BoPhanGroup_DonVi](
	[GroupId] [int] NOT NULL,
	[IdDonVi] [int] NOT NULL,
 CONSTRAINT [PK_SS_BoPhanGroup_DonVi] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[IdDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_SS_BoPhanGroup_DonVi_IdDonVi] UNIQUE NONCLUSTERED 
(
	[IdDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[SS_fn_DonViCungGroup]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[SS_fn_DonViCungGroup](@IdDonVi INT)
RETURNS TABLE
AS
RETURN
(
    SELECT x.IdDonVi
    FROM dbo.SS_BoPhanGroup_DonVi AS currentDv
    JOIN dbo.SS_BoPhanGroup AS g
      ON g.GroupId = currentDv.GroupId
     AND g.TonTai = 1
    JOIN dbo.SS_BoPhanGroup_DonVi AS x
      ON x.GroupId = currentDv.GroupId
    WHERE currentDv.IdDonVi = @IdDonVi

    UNION

    SELECT @IdDonVi
    WHERE @IdDonVi IS NOT NULL
      AND NOT EXISTS (
          SELECT 1
          FROM dbo.SS_BoPhanGroup_DonVi AS currentDv
          JOIN dbo.SS_BoPhanGroup AS g
            ON g.GroupId = currentDv.GroupId
           AND g.TonTai = 1
          WHERE currentDv.IdDonVi = @IdDonVi
      )
);
GO
/****** Object:  Table [dbo].[SS_DonVi]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_DonVi](
	[DonViId] [int] IDENTITY(1,1) NOT NULL,
	[TenDonVi] [nvarchar](200) NOT NULL,
	[TonTai] [bit] NOT NULL,
	[SoTaiKhoan] [nvarchar](50) NULL,
	[MaNganHang] [nvarchar](50) NULL,
	[ChiNhanhNganHang] [nvarchar](200) NULL,
	[TenChuyenKhoan] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[DonViId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_PhieuSec]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_PhieuSec](
	[PhieuSecId] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [date] NOT NULL,
	[NoiDung] [nvarchar](500) NOT NULL,
	[DonViHuongThuId] [int] NOT NULL,
	[SoTien] [decimal](18, 4) NOT NULL,
	[NguoiDangKyId] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThaiId] [int] NOT NULL,
	[IdDonVi] [int] NULL,
	[MaSoSec] [nvarchar](50) NULL,
	[LoaiSec] [nvarchar](20) NOT NULL,
	[MaLoaiChiPhi] [nvarchar](30) NOT NULL,
	[MaLoaiTien] [nvarchar](10) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuSecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_PhieuSec_Duyet]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_PhieuSec_Duyet](
	[PheDuyetId] [int] IDENTITY(1,1) NOT NULL,
	[PhieuSecId] [int] NOT NULL,
	[Buoc] [tinyint] NOT NULL,
	[NguoiDuyetId] [int] NOT NULL,
	[TenNguoiDuyet] [nvarchar](200) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[ThoiDiem] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PheDuyetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_UserVaiTro]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_UserVaiTro](
	[UserId] [int] NOT NULL,
	[VaiTroId] [int] NOT NULL,
 CONSTRAINT [PK_SS_UserVaiTro] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[VaiTroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_TrangThaiPhieu]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_TrangThaiPhieu](
	[TrangThaiId] [int] IDENTITY(1,1) NOT NULL,
	[MaTrangThai] [nvarchar](50) NOT NULL,
	[TenTrangThai] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TrangThaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_LenhChi]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_LenhChi](
	[LenhChiId] [int] IDENTITY(1,1) NOT NULL,
	[PhieuSecId] [int] NOT NULL,
	[MaLenhChi] [nvarchar](50) NOT NULL,
	[NguoiNhapId] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LenhChiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_LenhChi_Phieu] UNIQUE NONCLUSTERED 
(
	[PhieuSecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SS_vw_PhieuSec_Client]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SS_vw_PhieuSec_Client] AS SELECT
    p.PhieuSecId, p.Ngay, p.NoiDung, p.DonViHuongThuId, p.SoTien,
    p.NguoiDangKyId, p.IdDonVi, p.GhiChu, p.TrangThaiId, p.MaSoSec,
    p.LoaiSec, p.MaLoaiChiPhi, p.MaLoaiTien,
    tt.TenTrangThai, tt.MaTrangThai,
    dvSys.Ten_DonVi_ThanhToan as Ten_DonVi, u.TenDayDu AS TenNguoiTao,
    dv.TenDonVi, dv.TenChuyenKhoan, dv.SoTaiKhoan, dv.MaNganHang, dv.ChiNhanhNganHang,
    dvSys.Ten_DonVi_ThanhToan AS TenDonViNguoiTao,
    lc.MaLenhChi, lc.NguoiNhapId AS LenhChi_NguoiNhapId, lc.NgayNhap AS LenhChi_NgayNhap,
    x.TBP_Time, x.KTT_Time, x.GD_Time,
    lastReturn.TraLai_Time, lastReturn.LyDoTraLai,
    (
        SELECT TOP 1 ur.UserId
        FROM SS_UserVaiTro ur
        JOIN Tag_System.dbo.TaiKhoanDangNhap tk ON tk.ID_TaiKhoanDangNhap = ur.UserId
        WHERE ur.VaiTroId = 2
          AND EXISTS (SELECT 1 FROM dbo.SS_fn_DonViCungGroup(p.IdDonVi) g WHERE g.IdDonVi = tk.Id_DonVi)
        ORDER BY ur.UserId
    ) AS TBPUserId,
    (SELECT TOP 1 ur.UserId FROM SS_UserVaiTro ur WHERE ur.VaiTroId = 3 ORDER BY ur.UserId) AS KTTUserId,
    (SELECT TOP 1 ur.UserId FROM SS_UserVaiTro ur WHERE ur.VaiTroId = 4 ORDER BY ur.UserId) AS GDUserId
FROM dbo.SS_PhieuSec p
JOIN dbo.SS_TrangThaiPhieu tt ON tt.TrangThaiId = p.TrangThaiId
JOIN dbo.SS_DonVi dv ON dv.DonViId = p.DonViHuongThuId
LEFT JOIN dbo.SS_LenhChi lc ON lc.PhieuSecId = p.PhieuSecId
LEFT JOIN Tag_System.dbo.TaiKhoanDangNhap u ON u.ID_TaiKhoanDangNhap = p.NguoiDangKyId
LEFT JOIN Tag_System.dbo.DM_DonVi dvSys ON dvSys.Id_DonVi = p.IdDonVi
OUTER APPLY (
    SELECT TOP 1 d.PheDuyetId, d.ThoiDiem AS TraLai_Time, d.GhiChu AS LyDoTraLai
    FROM dbo.SS_PhieuSec_Duyet d
    WHERE d.PhieuSecId = p.PhieuSecId AND d.TrangThai = N'TraLai'
    ORDER BY d.PheDuyetId DESC
) lastReturn
OUTER APPLY (
    SELECT
        TBP_Time = MAX(CASE WHEN d.Buoc = 1 AND d.TrangThai = N'Approved' THEN d.ThoiDiem END),
        KTT_Time = MAX(CASE WHEN d.Buoc = 2 AND d.TrangThai = N'Approved' THEN d.ThoiDiem END),
        GD_Time = MAX(CASE WHEN d.Buoc = 3 AND d.TrangThai = N'Approved' THEN d.ThoiDiem END)
    FROM dbo.SS_PhieuSec_Duyet d
    WHERE d.PhieuSecId = p.PhieuSecId
      AND d.PheDuyetId > ISNULL(lastReturn.PheDuyetId, 0)
) x
WHERE ISNULL(p.IsDeleted, 0) = 0;
GO
/****** Object:  Table [dbo].[SS_DeviceToken]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_DeviceToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleCode] [nvarchar](50) NULL,
	[PushToken] [nvarchar](255) NOT NULL,
	[Platform] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_LoaiTien]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_LoaiTien](
	[MaLoaiTien] [nvarchar](10) NOT NULL,
	[TenLoaiTien] [nvarchar](100) NOT NULL,
	[TonTai] [bit] NOT NULL,
 CONSTRAINT [PK_SS_LoaiTien] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_NganHang]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_NganHang](
	[MaNganHang] [nvarchar](50) NOT NULL,
	[TenNganHang] [nvarchar](300) NOT NULL,
	[TonTai] [bit] NOT NULL,
 CONSTRAINT [PK_SS_NganHang] PRIMARY KEY CLUSTERED 
(
	[MaNganHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_PhieuSecTaiLieu]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_PhieuSecTaiLieu](
	[TaiLieuId] [int] IDENTITY(1,1) NOT NULL,
	[PhieuSecId] [int] NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[NguoiTao] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiLieuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_UserQuyen]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_UserQuyen](
	[UserId] [int] NOT NULL,
	[MaQuyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SS_UserQuyen] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SS_VaiTro]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_VaiTro](
	[VaiTroId] [int] IDENTITY(1,1) NOT NULL,
	[MaVaiTro] [nvarchar](30) NOT NULL,
	[TenVaiTro] [nvarchar](100) NOT NULL,
	[DoUuTien] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VaiTroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SS_BoPhanGroup] ADD  CONSTRAINT [DF_SS_BoPhanGroup_TonTai]  DEFAULT ((1)) FOR [TonTai]
GO
ALTER TABLE [dbo].[SS_DeviceToken] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SS_DeviceToken] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SS_DonVi] ADD  DEFAULT ((1)) FOR [TonTai]
GO
ALTER TABLE [dbo].[SS_LenhChi] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[SS_LoaiTien] ADD  CONSTRAINT [DF_SS_LoaiTien_TonTai]  DEFAULT ((1)) FOR [TonTai]
GO
ALTER TABLE [dbo].[SS_NganHang] ADD  CONSTRAINT [DF_SS_NganHang_TonTai]  DEFAULT ((1)) FOR [TonTai]
GO
ALTER TABLE [dbo].[SS_PhieuSec] ADD  CONSTRAINT [DF_SS_PhieuSec_Ngay]  DEFAULT (CONVERT([date],getdate())) FOR [Ngay]
GO
ALTER TABLE [dbo].[SS_PhieuSec] ADD  CONSTRAINT [DF_SS_PhieuSec_TrangThai]  DEFAULT ((1)) FOR [TrangThaiId]
GO
ALTER TABLE [dbo].[SS_PhieuSec] ADD  CONSTRAINT [DF_SS_PhieuSec_LoaiSec]  DEFAULT (N'VND') FOR [LoaiSec]
GO
ALTER TABLE [dbo].[SS_PhieuSec] ADD  CONSTRAINT [DF_SS_PhieuSec_MaLoaiChiPhi]  DEFAULT (N'Khac') FOR [MaLoaiChiPhi]
GO
ALTER TABLE [dbo].[SS_PhieuSec] ADD  CONSTRAINT [DF_SS_PhieuSec_MaLoaiTien]  DEFAULT (N'VND') FOR [MaLoaiTien]
GO
ALTER TABLE [dbo].[SS_PhieuSec] ADD  CONSTRAINT [DF_SS_PhieuSec_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SS_PhieuSec_Duyet] ADD  DEFAULT (sysdatetime()) FOR [ThoiDiem]
GO
ALTER TABLE [dbo].[SS_PhieuSecTaiLieu] ADD  DEFAULT (sysdatetime()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SS_PhieuSecTaiLieu] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SS_BoPhanGroup_DonVi]  WITH CHECK ADD  CONSTRAINT [FK_SS_BoPhanGroup_DonVi_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[SS_BoPhanGroup] ([GroupId])
GO
ALTER TABLE [dbo].[SS_BoPhanGroup_DonVi] CHECK CONSTRAINT [FK_SS_BoPhanGroup_DonVi_Group]
GO
ALTER TABLE [dbo].[SS_LenhChi]  WITH CHECK ADD  CONSTRAINT [FK_LenhChi_Phieu] FOREIGN KEY([PhieuSecId])
REFERENCES [dbo].[SS_PhieuSec] ([PhieuSecId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SS_LenhChi] CHECK CONSTRAINT [FK_LenhChi_Phieu]
GO
ALTER TABLE [dbo].[SS_PhieuSec]  WITH CHECK ADD FOREIGN KEY([DonViHuongThuId])
REFERENCES [dbo].[SS_DonVi] ([DonViId])
GO
ALTER TABLE [dbo].[SS_PhieuSec]  WITH CHECK ADD FOREIGN KEY([TrangThaiId])
REFERENCES [dbo].[SS_TrangThaiPhieu] ([TrangThaiId])
GO
ALTER TABLE [dbo].[SS_PhieuSec]  WITH CHECK ADD  CONSTRAINT [FK_SS_PhieuSec_LoaiTien] FOREIGN KEY([MaLoaiTien])
REFERENCES [dbo].[SS_LoaiTien] ([MaLoaiTien])
GO
ALTER TABLE [dbo].[SS_PhieuSec] CHECK CONSTRAINT [FK_SS_PhieuSec_LoaiTien]
GO
ALTER TABLE [dbo].[SS_PhieuSec_Duyet]  WITH CHECK ADD FOREIGN KEY([PhieuSecId])
REFERENCES [dbo].[SS_PhieuSec] ([PhieuSecId])
GO
ALTER TABLE [dbo].[SS_PhieuSecTaiLieu]  WITH CHECK ADD  CONSTRAINT [FK_SS_PhieuSecTaiLieu_SS_PhieuSec] FOREIGN KEY([PhieuSecId])
REFERENCES [dbo].[SS_PhieuSec] ([PhieuSecId])
GO
ALTER TABLE [dbo].[SS_PhieuSecTaiLieu] CHECK CONSTRAINT [FK_SS_PhieuSecTaiLieu_SS_PhieuSec]
GO
ALTER TABLE [dbo].[SS_UserVaiTro]  WITH CHECK ADD FOREIGN KEY([VaiTroId])
REFERENCES [dbo].[SS_VaiTro] ([VaiTroId])
GO
ALTER TABLE [dbo].[SS_PhieuSec]  WITH CHECK ADD  CONSTRAINT [CK_SS_PhieuSec_SoTien_Positive] CHECK  (([SoTien]>(0)))
GO
ALTER TABLE [dbo].[SS_PhieuSec] CHECK CONSTRAINT [CK_SS_PhieuSec_SoTien_Positive]
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_DonVi_DanhSach]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_DonVi_DanhSach]
    @TuKhoa nvarchar(200) = NULL,
    @TonTai bit = 1
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        DonViId AS id,
        TenDonVi AS name,
        TenChuyenKhoan AS tenChuyenKhoan,
        SoTaiKhoan AS stk,
        MaNganHang AS maNganHang,
        ChiNhanhNganHang AS chiNhanhNganHang,
        TonTai
    FROM dbo.SS_DonVi
    WHERE (@TonTai IS NULL OR TonTai = @TonTai)
      AND (
          @TuKhoa IS NULL
          OR TenDonVi LIKE N'%' + @TuKhoa + N'%'
          OR TenChuyenKhoan LIKE N'%' + @TuKhoa + N'%'
          OR SoTaiKhoan LIKE N'%' + @TuKhoa + N'%'
          OR MaNganHang LIKE N'%' + @TuKhoa + N'%'
          OR ChiNhanhNganHang LIKE N'%' + @TuKhoa + N'%'
      )
    ORDER BY TenDonVi;
END;
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_DonVi_Sua]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_DonVi_Sua]
    @DonViId int,
    @TenDonVi nvarchar(200),
    @SoTaiKhoan nvarchar(50) = NULL,
    @MaNganHang nvarchar(50) = NULL,
    @ChiNhanhNganHang nvarchar(200) = NULL,
    @TonTai bit = 1,
    @TenChuyenKhoan nvarchar(300) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @DonViId IS NULL OR @DonViId <= 0 THROW 72023, 'DonViId is required', 1;
    IF NULLIF(LTRIM(RTRIM(@TenDonVi)), N'') IS NULL THROW 72024, 'TenDonVi is required', 1;
    IF EXISTS (
        SELECT 1 FROM dbo.SS_DonVi
        WHERE TenDonVi = @TenDonVi AND TonTai = 1 AND DonViId <> @DonViId
    ) THROW 72025, 'TenDonVi already exists', 1;

    UPDATE dbo.SS_DonVi
    SET TenDonVi = @TenDonVi,
        TenChuyenKhoan = NULLIF(LTRIM(RTRIM(@TenChuyenKhoan)), N''),
        SoTaiKhoan = NULLIF(LTRIM(RTRIM(@SoTaiKhoan)), N''),
        MaNganHang = NULLIF(LTRIM(RTRIM(@MaNganHang)), N''),
        ChiNhanhNganHang = NULLIF(LTRIM(RTRIM(@ChiNhanhNganHang)), N''),
        TonTai = @TonTai
    WHERE DonViId = @DonViId;
END;
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_DonVi_Tao]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_DonVi_Tao]
    @TenDonVi nvarchar(200),
    @SoTaiKhoan nvarchar(50) = NULL,
    @MaNganHang nvarchar(50) = NULL,
    @ChiNhanhNganHang nvarchar(200) = NULL,
    @NewId int OUTPUT,
    @TenChuyenKhoan nvarchar(300) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NULLIF(LTRIM(RTRIM(@TenDonVi)), N'') IS NULL THROW 72021, 'TenDonVi is required', 1;
    IF EXISTS (SELECT 1 FROM dbo.SS_DonVi WHERE TenDonVi = @TenDonVi AND TonTai = 1)
        THROW 72022, 'TenDonVi already exists', 1;

    INSERT dbo.SS_DonVi(TenDonVi, TenChuyenKhoan, SoTaiKhoan, MaNganHang, ChiNhanhNganHang, TonTai)
    VALUES (
        @TenDonVi,
        NULLIF(LTRIM(RTRIM(@TenChuyenKhoan)), N''),
        NULLIF(LTRIM(RTRIM(@SoTaiKhoan)), N''),
        NULLIF(LTRIM(RTRIM(@MaNganHang)), N''),
        NULLIF(LTRIM(RTRIM(@ChiNhanhNganHang)), N''),
        1
    );

    SET @NewId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_DonVi_Update]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_DonVi_Update]
    @DonViId int,
    @TenDonVi nvarchar(200),
    @SoTaiKhoan nvarchar(50) = NULL,
    @MaNganHang nvarchar(50) = NULL,
    @ChiNhanhNganHang nvarchar(200) = NULL,
    @TenChuyenKhoan nvarchar(300) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.SS_DonVi WHERE DonViId = @DonViId)
        THROW 72031, 'Don vi khong ton tai', 1;
    IF NULLIF(LTRIM(RTRIM(@TenDonVi)), N'') IS NULL THROW 72021, 'TenDonVi is required', 1;

    UPDATE dbo.SS_DonVi
    SET TenDonVi = @TenDonVi,
        TenChuyenKhoan = NULLIF(LTRIM(RTRIM(@TenChuyenKhoan)), N''),
        SoTaiKhoan = NULLIF(LTRIM(RTRIM(@SoTaiKhoan)), N''),
        MaNganHang = NULLIF(LTRIM(RTRIM(@MaNganHang)), N''),
        ChiNhanhNganHang = NULLIF(LTRIM(RTRIM(@ChiNhanhNganHang)), N'')
    WHERE DonViId = @DonViId;
END;
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_DonVi_Xoa]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_DonVi_Xoa]
  @DonViId INT
AS
BEGIN
  SET NOCOUNT ON;

  IF (@DonViId IS NULL OR @DonViId <= 0)
    THROW 72026, 'DonViId is required', 1;

  -- Soft delete
  UPDATE SS_DonVi SET TonTai = 0 WHERE DonViId = @DonViId;
END
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_LenhChi_DanhSachChoNhap]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_LenhChi_DanhSachChoNhap]
    @RequesterUserId INT, @LoaiSec NVARCHAR(20) = NULL, @MaLoaiTien NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @RoleCode NVARCHAR(30) = dbo.SS_fn_UserRoleCode(@RequesterUserId);
    IF @RoleCode NOT IN (N'KTT', N'GD', N'Admin') AND dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TaoLenhChi') = 0
        THROW 72034, 'Ban khong co quyen xem danh sach cho nhap lenh chi', 1;
    SELECT v.*
    FROM dbo.SS_vw_PhieuSec_Client v
    WHERE v.MaTrangThai = N'HoanThanh' AND v.MaLenhChi IS NULL
      AND (@LoaiSec IS NULL OR v.LoaiSec = @LoaiSec)
      AND (@MaLoaiTien IS NULL OR v.MaLoaiTien = @MaLoaiTien)
    ORDER BY v.Ngay DESC, v.PhieuSecId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_LenhChi_Tao]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_LenhChi_Tao]
  @PhieuSecId INT,
  @MaLenhChi NVARCHAR(50),
  @NguoiNhapId INT
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @RoleCode NVARCHAR(30) = dbo.SS_fn_UserRoleCode(@NguoiNhapId);

  IF @RoleCode NOT IN (N'KTT', N'GD', N'Admin')
     AND dbo.SS_fn_UserCoQuyen(@NguoiNhapId, N'TaoLenhChi') = 0
    THROW 72033, 'Ban khong co quyen tao lenh chi', 1;

  IF NOT EXISTS (
    SELECT 1 FROM SS_PhieuSec
    WHERE PhieuSecId = @PhieuSecId
      AND TrangThaiId = (SELECT TrangThaiId FROM SS_TrangThaiPhieu WHERE MaTrangThai = N'HoanThanh')
  )
    THROW 72031, 'Phieu chua hoan thanh, khong the tao lenh chi', 1;

  IF EXISTS (SELECT 1 FROM SS_LenhChi WHERE PhieuSecId = @PhieuSecId)
    THROW 72032, 'Phieu nay da co lenh chi', 1;

  INSERT INTO SS_LenhChi(PhieuSecId, MaLenhChi, NguoiNhapId)
  VALUES (@PhieuSecId, @MaLenhChi, @NguoiNhapId);
END
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_PhieuSec_DanhSach]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_PhieuSec_DanhSach]
    @TuKhoa NVARCHAR(200) = NULL,
    @TrangThaiMa NVARCHAR(30) = NULL,
    @DateFrom DATE = NULL,
    @DateTo DATE = NULL,
    @RequesterUserId INT = NULL,
    @RequesterRoleCode NVARCHAR(30) = NULL,
    @RequesterIdDonVi INT = NULL,
    @LoaiSec NVARCHAR(20) = NULL,
    @MaLoaiTien NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RoleCode NVARCHAR(30) = ISNULL(@RequesterRoleCode, dbo.SS_fn_UserRoleCode(@RequesterUserId));
    DECLARE @IsAdmin BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'Admin');
    DECLARE @HasTBP BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TBP');
    DECLARE @HasTaoLenhChi BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TaoLenhChi');

    SELECT v.*
    FROM dbo.SS_vw_PhieuSec_Client v
    WHERE (@TuKhoa IS NULL OR v.NoiDung LIKE N'%' + @TuKhoa + N'%' OR v.TenDonVi LIKE N'%' + @TuKhoa + N'%' OR v.MaLenhChi LIKE N'%' + @TuKhoa + N'%')
      AND (@TrangThaiMa IS NULL OR v.MaTrangThai = @TrangThaiMa)
      AND (@DateFrom IS NULL OR v.Ngay >= @DateFrom)
      AND (@DateTo IS NULL OR v.Ngay < DATEADD(DAY, 1, @DateTo))
      AND (@LoaiSec IS NULL OR v.LoaiSec = @LoaiSec)
      AND (@MaLoaiTien IS NULL OR v.MaLoaiTien = @MaLoaiTien)
      AND (
          @IsAdmin = 1
          OR @HasTaoLenhChi = 1
          OR @RoleCode = N'Admin'
          OR (@RoleCode = N'KTT' AND v.TBP_Time IS NOT NULL)
          OR (@RoleCode = N'GD' AND v.KTT_Time IS NOT NULL
              AND (v.LoaiSec = N'NgoaiTe' OR (v.LoaiSec = N'VND' AND v.MaLoaiChiPhi = N'Khac' AND v.SoTien >= 100000000)))
          OR ((@HasTBP = 1 OR @RoleCode NOT IN (N'KTT', N'GD', N'Admin')) AND EXISTS (
              SELECT 1 FROM dbo.SS_fn_DonViCungGroup(@RequesterIdDonVi) g WHERE g.IdDonVi = v.IdDonVi
          ))
      )
    ORDER BY v.Ngay DESC, v.PhieuSecId DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_PhieuSec_Dashboard]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_PhieuSec_Dashboard]
    @RequesterUserId INT = NULL,
    @RequesterRoleCode NVARCHAR(30) = NULL,
    @RequesterIdDonVi INT = NULL,
    @DateFrom DATE = NULL,
    @DateTo DATE = NULL,
    @LoaiSec NVARCHAR(20) = NULL,
    @MaLoaiTien NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RoleCode NVARCHAR(30) = ISNULL(@RequesterRoleCode, dbo.SS_fn_UserRoleCode(@RequesterUserId));
    DECLARE @IsAdmin BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'Admin');
    DECLARE @HasTBP BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TBP');
    DECLARE @HasTaoLenhChi BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TaoLenhChi');

    ;WITH Base AS (
        SELECT v.MaTrangThai
        FROM dbo.SS_vw_PhieuSec_Client v
        WHERE (@DateFrom IS NULL OR CAST(v.Ngay AS DATE) >= @DateFrom)
          AND (@DateTo IS NULL OR CAST(v.Ngay AS DATE) <= @DateTo)
          AND (@LoaiSec IS NULL OR v.LoaiSec = @LoaiSec)
          AND (@MaLoaiTien IS NULL OR v.MaLoaiTien = @MaLoaiTien)
          AND (
              @IsAdmin = 1
              OR @HasTaoLenhChi = 1
              OR @RoleCode IN (N'Admin', N'KTT', N'GD')
              OR @RoleCode IS NULL
              OR ((@HasTBP = 1 OR @RoleCode NOT IN (N'KTT', N'GD', N'Admin')) AND EXISTS (
                  SELECT 1 FROM dbo.SS_fn_DonViCungGroup(@RequesterIdDonVi) g WHERE g.IdDonVi = v.IdDonVi
              ))
          )
    )
    SELECT
        ChoDuyet_TBP = SUM(CASE WHEN MaTrangThai = N'ChoDuyet_TBP' THEN 1 ELSE 0 END),
        ChoDuyet_KTT = SUM(CASE WHEN MaTrangThai = N'ChoDuyet_KTT' THEN 1 ELSE 0 END),
        ChoDuyet_GD = SUM(CASE WHEN MaTrangThai = N'ChoDuyet_GD' THEN 1 ELSE 0 END),
        HoanThanh = SUM(CASE WHEN MaTrangThai = N'HoanThanh' THEN 1 ELSE 0 END),
        TuChoi = SUM(CASE WHEN MaTrangThai = N'TuChoi' THEN 1 ELSE 0 END),
        Tong = COUNT(*)
    FROM Base;
END;
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_PhieuSec_Duyet]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_PhieuSec_Duyet]
    @PhieuSecId int,
    @NguoiDuyetId int,
    @TenNguoiDuyet nvarchar(200),
    @ChapThuan bit,
    @GhiChu nvarchar(500) = NULL,
    @TraLai bit = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @id_TBP int, @id_KTT int, @id_GD int, @id_HoanThanh int, @id_TuChoi int;
    SELECT
        @id_TBP = MAX(CASE WHEN MaTrangThai = N'ChoDuyet_TBP' THEN TrangThaiId END),
        @id_KTT = MAX(CASE WHEN MaTrangThai = N'ChoDuyet_KTT' THEN TrangThaiId END),
        @id_GD = MAX(CASE WHEN MaTrangThai = N'ChoDuyet_GD' THEN TrangThaiId END),
        @id_HoanThanh = MAX(CASE WHEN MaTrangThai = N'HoanThanh' THEN TrangThaiId END),
        @id_TuChoi = MAX(CASE WHEN MaTrangThai = N'TuChoi' THEN TrangThaiId END)
    FROM dbo.SS_TrangThaiPhieu;

    DECLARE
        @TrangThaiId int,
        @SoTien decimal(18,4),
        @PhieuIdDonVi int,
        @LoaiSec nvarchar(20),
        @MaLoaiChiPhi nvarchar(30),
        @MaLenhChi nvarchar(50);

    SELECT
        @TrangThaiId = p.TrangThaiId,
        @SoTien = p.SoTien,
        @PhieuIdDonVi = p.IdDonVi,
        @LoaiSec = p.LoaiSec,
        @MaLoaiChiPhi = p.MaLoaiChiPhi,
        @MaLenhChi = lc.MaLenhChi
    FROM dbo.SS_PhieuSec p WITH (UPDLOCK, HOLDLOCK)
    LEFT JOIN dbo.SS_LenhChi lc ON lc.PhieuSecId = p.PhieuSecId
    WHERE p.PhieuSecId = @PhieuSecId;

    IF @TrangThaiId IS NULL THROW 72001, 'Phieu khong ton tai', 1;
    IF @TrangThaiId = @id_TuChoi THROW 72002, 'Phieu da ket thuc', 1;
    IF @TrangThaiId = @id_HoanThanh AND NOT (@TraLai = 1 AND NULLIF(LTRIM(RTRIM(@MaLenhChi)), N'') IS NULL)
        THROW 72002, 'Phieu da ket thuc hoac da co lenh chi', 1;
    IF (@ChapThuan = 0 OR @TraLai = 1) AND NULLIF(LTRIM(RTRIM(@GhiChu)), N'') IS NULL
        THROW 72008, 'Vui long nhap ly do tu choi hoac tra lai', 1;

    DECLARE @Buoc tinyint;
    IF @TrangThaiId = @id_TBP SET @Buoc = 1;
    ELSE IF @TrangThaiId = @id_KTT SET @Buoc = 2;
    ELSE IF @TrangThaiId = @id_GD SET @Buoc = 3;
    ELSE IF @TrangThaiId = @id_HoanThanh AND @TraLai = 1 SET @Buoc = 4;
    ELSE THROW 72003, 'Phieu khong o trang thai cho duyet hop le', 1;

    DECLARE @IsAdmin bit = dbo.SS_fn_UserCoQuyen(@NguoiDuyetId, N'Admin');
    DECLARE @HasTBP bit = dbo.SS_fn_UserCoQuyen(@NguoiDuyetId, N'TBP');
    DECLARE @HasKTT bit = dbo.SS_fn_UserCoQuyen(@NguoiDuyetId, N'KTT');
    DECLARE @HasGD bit = dbo.SS_fn_UserCoQuyen(@NguoiDuyetId, N'GD');
    DECLARE @HasTaoLenhChi bit = dbo.SS_fn_UserCoQuyen(@NguoiDuyetId, N'TaoLenhChi');

    IF @TraLai = 1
    BEGIN
        IF @TrangThaiId IN (@id_KTT, @id_GD) AND @HasKTT = 0 AND @IsAdmin = 0
            THROW 72009, 'Chi KTT hoac Admin duoc tra lai phieu dang cho KTT hoac GD duyet', 1;

        IF @TrangThaiId = @id_HoanThanh AND @HasTaoLenhChi = 0 AND @HasKTT = 0 AND @IsAdmin = 0
            THROW 72010, 'Chi nguoi co quyen tao lenh chi, KTT hoac Admin duoc tra lai phieu cho nhap lenh chi', 1;

        IF @TrangThaiId NOT IN (@id_KTT, @id_GD, @id_HoanThanh)
            THROW 72009, 'Phieu khong o trang thai duoc tra lai', 1;
    END;

    IF @Buoc = 1 AND @HasTBP = 0 AND @IsAdmin = 0
        THROW 72004, 'Chi TBP hoac Admin duoc duyet buoc nay', 1;
    IF @Buoc = 2 AND @HasKTT = 0 AND @IsAdmin = 0
        THROW 72005, 'Chi KTT hoac Admin duoc duyet buoc nay', 1;
    IF @Buoc = 3 AND @HasGD = 0 AND @IsAdmin = 0 AND NOT (@ChapThuan = 0 AND @HasKTT = 1)
        THROW 72006, 'Chi GD hoac Admin duoc duyet buoc nay; KTT chi duoc tu choi', 1;

    IF @Buoc = 1 AND @IsAdmin = 0
    BEGIN
        DECLARE @NguoiDuyetIdDonVi int;
        SELECT @NguoiDuyetIdDonVi = Id_DonVi
        FROM Tag_System.dbo.TaiKhoanDangNhap
        WHERE ID_TaiKhoanDangNhap = @NguoiDuyetId;

        IF @NguoiDuyetIdDonVi IS NULL OR NOT EXISTS (
            SELECT 1 FROM dbo.SS_fn_DonViCungGroup(@PhieuIdDonVi) g WHERE g.IdDonVi = @NguoiDuyetIdDonVi
        ) THROW 72007, 'TBP khong thuoc group bo phan cua phieu', 1;
    END;

    INSERT dbo.SS_PhieuSec_Duyet(PhieuSecId, Buoc, NguoiDuyetId, TenNguoiDuyet, TrangThai, GhiChu)
    VALUES(
        @PhieuSecId,
        @Buoc,
        @NguoiDuyetId,
        @TenNguoiDuyet,
        CASE WHEN @TraLai = 1 THEN N'TraLai' WHEN @ChapThuan = 1 THEN N'Approved' ELSE N'Rejected' END,
        @GhiChu
    );

    IF @TraLai = 1 UPDATE dbo.SS_PhieuSec SET TrangThaiId = @id_TBP WHERE PhieuSecId = @PhieuSecId;
    ELSE IF @ChapThuan = 0 UPDATE dbo.SS_PhieuSec SET TrangThaiId = @id_TuChoi WHERE PhieuSecId = @PhieuSecId;
    ELSE IF @Buoc = 1 UPDATE dbo.SS_PhieuSec SET TrangThaiId = @id_KTT WHERE PhieuSecId = @PhieuSecId;
    ELSE IF @Buoc = 2 UPDATE dbo.SS_PhieuSec SET TrangThaiId = CASE
        WHEN @LoaiSec = N'NgoaiTe' OR (@LoaiSec = N'VND' AND @MaLoaiChiPhi = N'Khac' AND @SoTien >= 100000000) THEN @id_GD
        ELSE @id_HoanThanh END WHERE PhieuSecId = @PhieuSecId;
    ELSE IF @Buoc = 3 UPDATE dbo.SS_PhieuSec SET TrangThaiId = @id_HoanThanh WHERE PhieuSecId = @PhieuSecId;
END;
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_PhieuSec_GetById]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_PhieuSec_GetById]
    @PhieuSecId INT,
    @RequesterUserId INT = NULL,
    @RequesterRoleCode NVARCHAR(30) = NULL,
    @RequesterIdDonVi INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RoleCode NVARCHAR(30) = ISNULL(@RequesterRoleCode, dbo.SS_fn_UserRoleCode(@RequesterUserId));
    DECLARE @IsAdmin BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'Admin');
    DECLARE @HasTBP BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TBP');
    DECLARE @HasTaoLenhChi BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TaoLenhChi');

    SELECT TOP 1 v.*
    FROM dbo.SS_vw_PhieuSec_Client v
    WHERE v.PhieuSecId = @PhieuSecId
      AND (
          @IsAdmin = 1
          OR @HasTaoLenhChi = 1
          OR @RoleCode IN (N'KTT', N'GD', N'Admin')
          OR ((@HasTBP = 1 OR @RoleCode NOT IN (N'KTT', N'GD', N'Admin')) AND EXISTS (
              SELECT 1 FROM dbo.SS_fn_DonViCungGroup(@RequesterIdDonVi) g WHERE g.IdDonVi = v.IdDonVi
          ))
      );
END;
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_PhieuSec_GroupBy]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_PhieuSec_GroupBy]
    @RequesterUserId INT = NULL,
    @RequesterRoleCode NVARCHAR(30) = NULL,
    @RequesterIdDonVi INT = NULL,
    @DateFrom DATE = NULL,
    @DateTo DATE = NULL,
    @FilterCreatorIdDonVi INT = NULL,
    @FilterDonViHuongThuId INT = NULL,
    @GroupBy NVARCHAR(30) = N'Month',
    @LoaiSec NVARCHAR(20) = NULL,
    @MaLoaiTien NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RoleCode NVARCHAR(30) = ISNULL(@RequesterRoleCode, dbo.SS_fn_UserRoleCode(@RequesterUserId));
    DECLARE @IsAdmin BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'Admin');
    DECLARE @HasTBP BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TBP');
    DECLARE @HasTaoLenhChi BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TaoLenhChi');

    ;WITH Base AS (
        SELECT
            v.SoTien,
            v.MaLoaiTien,
            CAST(v.Ngay AS DATE) AS Ngay,
            v.IdDonVi,
            v.DonViHuongThuId,
            dvCreator.Ten_DonVi AS TenDV_Tao,
            dvThuHuong.TenDonVi AS TenDV_ThuHuong
        FROM dbo.SS_vw_PhieuSec_Client v
        LEFT JOIN Tag_System.dbo.DM_DonVi dvCreator ON dvCreator.ID_DonVi = v.IdDonVi
        LEFT JOIN dbo.SS_DonVi dvThuHuong ON dvThuHuong.DonViId = v.DonViHuongThuId
        WHERE (@DateFrom IS NULL OR CAST(v.Ngay AS DATE) >= @DateFrom)
          AND (@DateTo IS NULL OR CAST(v.Ngay AS DATE) <= @DateTo)
          AND (@FilterCreatorIdDonVi IS NULL OR v.IdDonVi = @FilterCreatorIdDonVi)
          AND (@FilterDonViHuongThuId IS NULL OR v.DonViHuongThuId = @FilterDonViHuongThuId)
          AND (@LoaiSec IS NULL OR v.LoaiSec = @LoaiSec)
          AND (@MaLoaiTien IS NULL OR v.MaLoaiTien = @MaLoaiTien)
          AND (
              @IsAdmin = 1
              OR @HasTaoLenhChi = 1
              OR @RoleCode IN (N'Admin', N'KTT', N'GD')
              OR @RoleCode IS NULL
              OR ((@HasTBP = 1 OR @RoleCode NOT IN (N'KTT', N'GD', N'Admin')) AND EXISTS (
                  SELECT 1 FROM dbo.SS_fn_DonViCungGroup(@RequesterIdDonVi) g WHERE g.IdDonVi = v.IdDonVi
              ))
          )
    ), Tagged AS (
        SELECT
            MaLoaiTien,
            SoTien,
            GroupKey = CASE
                WHEN @GroupBy = N'Month' THEN CONVERT(NVARCHAR(7), Ngay, 126)
                WHEN @GroupBy = N'CreatorDonVi' THEN CONVERT(NVARCHAR(50), IdDonVi)
                ELSE CONVERT(NVARCHAR(50), DonViHuongThuId)
            END,
            GroupLabel = CASE
                WHEN @GroupBy = N'Month' THEN CONVERT(NVARCHAR(7), Ngay, 126)
                WHEN @GroupBy = N'CreatorDonVi' THEN ISNULL(TenDV_Tao, N'-')
                ELSE ISNULL(TenDV_ThuHuong, N'-')
            END
        FROM Base
    )
    SELECT GroupKey, GroupLabel, MaLoaiTien, CountPhieu = COUNT(*), SumSoTien = ISNULL(SUM(SoTien), 0)
    FROM Tagged
    GROUP BY GroupKey, GroupLabel, MaLoaiTien
    ORDER BY GroupLabel, MaLoaiTien;
END;
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_PhieuSec_Summary]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_PhieuSec_Summary]
    @RequesterUserId INT = NULL,
    @RequesterRoleCode NVARCHAR(30) = NULL,
    @RequesterIdDonVi INT = NULL,
    @DateFrom DATE = NULL,
    @DateTo DATE = NULL,
    @FilterCreatorIdDonVi INT = NULL,
    @FilterDonViHuongThuId INT = NULL,
    @LoaiSec NVARCHAR(20) = NULL,
    @MaLoaiTien NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RoleCode NVARCHAR(30) = ISNULL(@RequesterRoleCode, dbo.SS_fn_UserRoleCode(@RequesterUserId));
    DECLARE @IsAdmin BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'Admin');
    DECLARE @HasTBP BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TBP');
    DECLARE @HasTaoLenhChi BIT = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'TaoLenhChi');

    SELECT v.MaTrangThai, v.SoTien, v.MaLoaiTien
    INTO #Base
    FROM dbo.SS_vw_PhieuSec_Client v
    WHERE (@DateFrom IS NULL OR CAST(v.Ngay AS DATE) >= @DateFrom)
      AND (@DateTo IS NULL OR CAST(v.Ngay AS DATE) <= @DateTo)
      AND (@FilterCreatorIdDonVi IS NULL OR v.IdDonVi = @FilterCreatorIdDonVi)
      AND (@FilterDonViHuongThuId IS NULL OR v.DonViHuongThuId = @FilterDonViHuongThuId)
      AND (@LoaiSec IS NULL OR v.LoaiSec = @LoaiSec)
      AND (@MaLoaiTien IS NULL OR v.MaLoaiTien = @MaLoaiTien)
      AND (
          @IsAdmin = 1
          OR @HasTaoLenhChi = 1
          OR @RoleCode IN (N'Admin', N'KTT', N'GD')
          OR @RoleCode IS NULL
          OR ((@HasTBP = 1 OR @RoleCode NOT IN (N'KTT', N'GD', N'Admin')) AND EXISTS (
              SELECT 1 FROM dbo.SS_fn_DonViCungGroup(@RequesterIdDonVi) g WHERE g.IdDonVi = v.IdDonVi
          ))
      );

    DECLARE @SingleCurrency BIT = CASE WHEN (SELECT COUNT(DISTINCT MaLoaiTien) FROM #Base) <= 1 THEN 1 ELSE 0 END;

    SELECT
        TotalCount = COUNT(*),
        TotalAmount = CASE WHEN @SingleCurrency = 1 THEN ISNULL(SUM(SoTien), 0) END,
        ChoDuyet_TBP_Count = SUM(CASE WHEN MaTrangThai = N'ChoDuyet_TBP' THEN 1 ELSE 0 END),
        ChoDuyet_TBP_Amount = CASE WHEN @SingleCurrency = 1 THEN SUM(CASE WHEN MaTrangThai = N'ChoDuyet_TBP' THEN SoTien ELSE 0 END) END,
        ChoDuyet_KTT_Count = SUM(CASE WHEN MaTrangThai = N'ChoDuyet_KTT' THEN 1 ELSE 0 END),
        ChoDuyet_KTT_Amount = CASE WHEN @SingleCurrency = 1 THEN SUM(CASE WHEN MaTrangThai = N'ChoDuyet_KTT' THEN SoTien ELSE 0 END) END,
        ChoDuyet_GD_Count = SUM(CASE WHEN MaTrangThai = N'ChoDuyet_GD' THEN 1 ELSE 0 END),
        ChoDuyet_GD_Amount = CASE WHEN @SingleCurrency = 1 THEN SUM(CASE WHEN MaTrangThai = N'ChoDuyet_GD' THEN SoTien ELSE 0 END) END,
        HoanThanh_Count = SUM(CASE WHEN MaTrangThai = N'HoanThanh' THEN 1 ELSE 0 END),
        HoanThanh_Amount = CASE WHEN @SingleCurrency = 1 THEN SUM(CASE WHEN MaTrangThai = N'HoanThanh' THEN SoTien ELSE 0 END) END,
        TuChoi_Count = SUM(CASE WHEN MaTrangThai = N'TuChoi' THEN 1 ELSE 0 END),
        TuChoi_Amount = CASE WHEN @SingleCurrency = 1 THEN SUM(CASE WHEN MaTrangThai = N'TuChoi' THEN SoTien ELSE 0 END) END
    FROM #Base;

    SELECT
        MaLoaiTien,
        TotalCount = COUNT(*),
        TotalAmount = ISNULL(SUM(SoTien), 0)
    FROM #Base
    GROUP BY MaLoaiTien
    ORDER BY MaLoaiTien;
END;
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_PhieuSec_Tao]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_PhieuSec_Tao]
    @NoiDung NVARCHAR(500),
    @DonViHuongThuId INT,
    @SoTien DECIMAL(18,4),
    @NguoiDangKyId INT = NULL,
    @IdDonVi INT = NULL,
    @GhiChu NVARCHAR(500) = NULL,
    @LoaiSec NVARCHAR(20) = N'VND',
    @MaLoaiChiPhi NVARCHAR(30) = N'Khac',
    @MaLoaiTien NVARCHAR(10) = N'VND',
    @NewId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @LoaiSec = ISNULL(NULLIF(@LoaiSec, N''), N'VND');
    SET @MaLoaiTien = UPPER(ISNULL(NULLIF(@MaLoaiTien, N''), N'VND'));
    SET @MaLoaiChiPhi = ISNULL(NULLIF(@MaLoaiChiPhi, N''), N'Khac');

    IF NULLIF(LTRIM(RTRIM(@NoiDung)), N'') IS NULL THROW 72011, 'NoiDung is required', 1;
    IF @DonViHuongThuId IS NULL THROW 72012, 'DonViHuongThuId is required', 1;
    IF @SoTien IS NULL OR @SoTien <= 0 THROW 72013, 'SoTien must be > 0', 1;
    IF @LoaiSec NOT IN (N'VND', N'NgoaiTe') THROW 72014, 'LoaiSec khong hop le', 1;
    IF @MaLoaiChiPhi NOT IN (N'TienDien', N'TienGiaCong', N'Khac') THROW 72015, 'MaLoaiChiPhi khong hop le', 1;
    IF @LoaiSec = N'VND' AND @MaLoaiTien <> N'VND' THROW 72016, 'Phieu VND phai su dung loai tien VND', 1;
    IF @LoaiSec = N'NgoaiTe' AND @MaLoaiTien = N'VND' THROW 72017, 'Phieu ngoai te phai chon loai tien khac VND', 1;
    IF @LoaiSec = N'NgoaiTe' SET @MaLoaiChiPhi = N'Khac';
    IF NOT EXISTS (SELECT 1 FROM dbo.SS_LoaiTien WHERE MaLoaiTien = @MaLoaiTien AND TonTai = 1)
        THROW 72018, 'Loai tien khong ton tai hoac da ngung su dung', 1;

    INSERT dbo.SS_PhieuSec(Ngay, NoiDung, DonViHuongThuId, SoTien, NguoiDangKyId, IdDonVi, GhiChu, TrangThaiId, LoaiSec, MaLoaiChiPhi, MaLoaiTien)
    SELECT CAST(GETDATE() AS DATE), @NoiDung, @DonViHuongThuId, @SoTien, @NguoiDangKyId, @IdDonVi, @GhiChu,
           TrangThaiId, @LoaiSec, @MaLoaiChiPhi, @MaLoaiTien
    FROM dbo.SS_TrangThaiPhieu WHERE MaTrangThai = N'ChoDuyet_TBP';

    SET @NewId = SCOPE_IDENTITY();
    UPDATE dbo.SS_PhieuSec SET MaSoSec = N'SS-' + @MaLoaiTien + N'-' + CONVERT(NVARCHAR(20), @NewId) WHERE PhieuSecId = @NewId;

    SELECT p.PhieuSecId AS Id, p.MaSoSec, p.NguoiDangKyId, tbp.TBPUserId
    FROM dbo.SS_PhieuSec p
    OUTER APPLY (
        SELECT DISTINCT u.ID_TaiKhoanDangNhap AS TBPUserId
        FROM dbo.SS_fn_DonViCungGroup(p.IdDonVi) g
        JOIN Tag_System.dbo.TaiKhoanDangNhap u ON u.Id_DonVi = g.IdDonVi
        JOIN dbo.SS_UserVaiTro uv ON uv.UserId = u.ID_TaiKhoanDangNhap
        JOIN dbo.SS_VaiTro vt ON vt.VaiTroId = uv.VaiTroId AND vt.MaVaiTro = N'TBP'
    ) tbp
    WHERE p.PhieuSecId = @NewId
    ORDER BY tbp.TBPUserId;
END
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_PhieuSec_Update]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_PhieuSec_Update]
    @PhieuSecId INT,
    @RequesterUserId INT,
    @NoiDung NVARCHAR(500),
    @DonViHuongThuId INT,
    @SoTien DECIMAL(18,4),
    @GhiChu NVARCHAR(500) = NULL,
    @MaLoaiChiPhi NVARCHAR(30) = N'Khac',
    @MaLoaiTien NVARCHAR(10) = N'VND'
AS
BEGIN
    SET NOCOUNT ON;

    SET @MaLoaiTien = UPPER(ISNULL(NULLIF(@MaLoaiTien, N''), N'VND'));
    SET @MaLoaiChiPhi = ISNULL(NULLIF(@MaLoaiChiPhi, N''), N'Khac');

    DECLARE @ChoDuyetTBPId INT = (
        SELECT TrangThaiId FROM dbo.SS_TrangThaiPhieu WHERE MaTrangThai = N'ChoDuyet_TBP'
    );
    DECLARE @LoaiSec NVARCHAR(20), @NguoiDangKyId INT, @TrangThaiId INT;

    SELECT @LoaiSec = LoaiSec, @NguoiDangKyId = NguoiDangKyId, @TrangThaiId = TrangThaiId
    FROM dbo.SS_PhieuSec WITH (UPDLOCK, HOLDLOCK)
    WHERE PhieuSecId = @PhieuSecId;

    IF @TrangThaiId IS NULL THROW 72021, 'Phieu khong ton tai', 1;
    IF @TrangThaiId <> @ChoDuyetTBPId THROW 72022, 'Chi duoc sua phieu dang cho TBP duyet', 1;
    IF @NguoiDangKyId <> @RequesterUserId AND dbo.SS_fn_UserRoleCode(@RequesterUserId) <> N'Admin'
        THROW 72023, 'Chi nguoi tao phieu hoac Admin duoc sua', 1;
    IF NULLIF(LTRIM(RTRIM(@NoiDung)), N'') IS NULL THROW 72011, 'NoiDung is required', 1;
    IF @DonViHuongThuId IS NULL THROW 72012, 'DonViHuongThuId is required', 1;
    IF @SoTien IS NULL OR @SoTien <= 0 THROW 72013, 'SoTien must be > 0', 1;
    IF @MaLoaiChiPhi NOT IN (N'TienDien', N'TienGiaCong', N'Khac') THROW 72015, 'MaLoaiChiPhi khong hop le', 1;
    IF @LoaiSec = N'VND' AND @MaLoaiTien <> N'VND' THROW 72016, 'Phieu VND phai su dung loai tien VND', 1;
    IF @LoaiSec = N'NgoaiTe' AND @MaLoaiTien = N'VND' THROW 72017, 'Phieu ngoai te phai chon loai tien khac VND', 1;
    IF @LoaiSec = N'NgoaiTe' SET @MaLoaiChiPhi = N'Khac';
    IF NOT EXISTS (SELECT 1 FROM dbo.SS_LoaiTien WHERE MaLoaiTien = @MaLoaiTien AND TonTai = 1)
        THROW 72018, 'Loai tien khong ton tai hoac da ngung su dung', 1;

    UPDATE dbo.SS_PhieuSec
    SET NoiDung = @NoiDung,
        DonViHuongThuId = @DonViHuongThuId,
        SoTien = @SoTien,
        GhiChu = @GhiChu,
        MaLoaiChiPhi = @MaLoaiChiPhi,
        MaLoaiTien = @MaLoaiTien,
        MaSoSec = N'SS-' + @MaLoaiTien + N'-' + CONVERT(NVARCHAR(20), @PhieuSecId)
    WHERE PhieuSecId = @PhieuSecId;
END
GO
/****** Object:  StoredProcedure [dbo].[SS_sp_PhieuSec_Xoa]    Script Date: 15/06/2026 22:49:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SS_sp_PhieuSec_Xoa]
    @PhieuSecId int,
    @RequesterUserId int
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @NguoiDangKyId int,
        @MaTrangThai nvarchar(50),
        @IsDeleted bit,
        @IsAdmin bit;

    SELECT
        @NguoiDangKyId = p.NguoiDangKyId,
        @MaTrangThai = tt.MaTrangThai,
        @IsDeleted = p.IsDeleted
    FROM dbo.SS_PhieuSec AS p WITH (UPDLOCK, HOLDLOCK)
    JOIN dbo.SS_TrangThaiPhieu AS tt
      ON tt.TrangThaiId = p.TrangThaiId
    WHERE p.PhieuSecId = @PhieuSecId;

    IF @NguoiDangKyId IS NULL THROW 72061, 'Phieu khong ton tai', 1;
    IF ISNULL(@IsDeleted, 0) = 1 THROW 72062, 'Phieu da bi xoa', 1;

    SET @IsAdmin = dbo.SS_fn_UserCoQuyen(@RequesterUserId, N'Admin');

    IF @IsAdmin = 0
       AND NOT (
            @NguoiDangKyId = @RequesterUserId
            AND @MaTrangThai IN (N'ChoDuyet_TBP', N'TuChoi')
       )
    BEGIN
        THROW 72063, 'Khong co quyen xoa phieu nay', 1;
    END;

    UPDATE dbo.SS_PhieuSec
    SET IsDeleted = 1,
        DeletedAt = SYSDATETIME(),
        DeletedBy = @RequesterUserId
    WHERE PhieuSecId = @PhieuSecId
      AND IsDeleted = 0;
END;
GO
